WSDL/ProfileService_completed/ProfileService.wsdl

<definitions
  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:s="http://www.w3.org/2001/XMLSchema"
  xmlns:vsr="urn:vsr"
  xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
  targetNamespace="urn:vsr"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
>

  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="urn:vsr">

      <s:element name="PrintProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SecondName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PrintProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>

    </s:schema>
  </types>


  <message name="PrintProfileIn">
    <part name="parameters" element="vsr:PrintProfile" />
  </message>
  <message name="PrintProfileOut">
    <part name="parameters" element="vsr:PrintProfileResponse" />
  </message>

  <portType name="IProfileManager">
    <operation name="PrintProfile">
      <input  message="vsr:PrintProfileIn" />
      <output message="vsr:PrintProfileOut"/>
    </operation>

  </portType>

  <binding name="SoapOverHttpBinding" type="vsr:IProfileManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />

    <operation name="PrintProfile">
      <soap:operation soapAction="urn:vsr/PrintProfile" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>

  </binding>

  <service name="ProfileService">
  <port name="SoapOverHttpPort" binding="vsr:SoapOverHttpBinding">
    <soap12:address location="http://localhost:14000/profileservice"/>
  </port>
</service>

</definitions>